{
    "swagger": "2.0",
    "info": {
        "title": "RingCentral API",
        "description": "Move your app forward with the RingCentral API",
        "version": "1.0.0"
    },
    "host": "platform.devtest.ringcentral.com",
    "schemes": [
        "https"
    ],
    "basePath": "/restapi",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Get API Versions",
                "description": "Returns current API version(s) and server info\n",
                "tags": [
                    "API Version"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/APIVersions"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "APIVersions": {
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "Canonical URI of the API version"
                },
                "apiVersions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VersionInfo"
                    },
                    "description": "Description of product"
                },
                "serverVersion": {
                    "type": "string",
                    "description": "Server version"
                },
                "serverRevision": {
                    "type": "string",
                    "description": "Server revision"
                }
            }
        },
        "VersionInfo": {
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "Canonical URI of API versions"
                },
                "versionString": {
                    "type": "string",
                    "description": "Version of the RingCentral REST API"
                },
                "releaseDate": {
                    "type": "string",
                    "description": "Release date of this version"
                },
                "uriString": {
                    "type": "string",
                    "description": "URI part determining the current version"
                }
            }
        }
    }
}