<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
    <add key="PubnubMessaging.LogLevel" value="0" />
    <add key="PubnubMessaging.PubnubErrorFilterLevel" value="3" />
    <add key="PubnubMessaging.LogMessageLengthLimit" value="0" />
  </appSettings><system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics><system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net></configuration>